<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.poly_glot" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Select_the_languages_u_knw"
            android:label="@string/title_activity_select_the_languages_u_knw" >
        </activity>
        <activity
            android:name=".Which_language_u_like_to_learn"
            android:label="@string/title_activity_which_language_u_like_to_learn" >
        </activity>
        <activity
            android:name=".MainActivity2ActivitySinhala"
            android:label="@string/title_activity_main_activity2_activity_sinhala" >
        </activity>
        <activity
            android:name=".Greeting_people_sinhala"
            android:label="@string/title_activity_greeting_people_sinhala" >
        </activity>
        <activity
            android:name=".media"
            android:label="@string/title_activity_media" >
        </activity>
        <activity
            android:name=".Nice_to_meet_u"
            android:label="@string/title_activity_nice_to_meet_u" >
        </activity>
        <activity
            android:name=".nice_to_meet_u_2"
            android:label="@string/title_activity_nice_to_meet_u_2" >
        </activity>
        <activity
            android:name=".Nice_to_meet_u_3"
            android:label="@string/title_activity_nice_to_meet_u_3" >
        </activity>
        <activity
            android:name=".qwqw"
            android:label="@string/title_activity_qwqw" >
        </activity>
        <!--<activity-->
        <!--android:name=".PopMusicFragment1"-->
        <!--android:label="@string/title_activity_pop_music_fragment1" >-->
        <!--</activity>-->
        <activity
            android:name=".xxx"
            android:label="@string/title_activity_xxx" >
        </activity>
        <activity
            android:name=".Nice_to_meet_u_4"
            android:label="@string/title_activity_nice_to_meet_u_4" >
        </activity>
        <activity
            android:name=".Nice_to_meet_u_5"
            android:label="@string/title_activity_nice_to_meet_u_5" >
        </activity>
        <activity
            android:name=".About_me_3"
            android:label="@string/title_activity_about_me_3">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".About_me_1"
            android:label="@string/title_activity_about_me_1" >
        </activity>
        <activity
            android:name=".About_me_2"
            android:label="@string/title_activity_about_me_2" >
        </activity>
        <activity
            android:name=".About_me_4"
            android:label="@string/title_activity_about_me_4" >
        </activity>
        <activity
            android:name=".About_me_5"
            android:label="@string/title_activity_about_me_5" >
        </activity>
        <activity
            android:name=".About_me_6"
            android:label="@string/title_activity_about_me_6" >
        </activity>
        <activity
            android:name=".Feelings_1"
            android:label="@string/title_activity_feelings_1" >
        </activity>
        <activity
            android:name=".Feelings_2"
            android:label="@string/title_activity_feelings_2" >
        </activity>
        <activity
            android:name=".Feelings_3"
            android:label="@string/title_activity_feelings_3" >
        </activity>
        <activity
            android:name=".Feelings_4"
            android:label="@string/title_activity_feelings_4" >
        </activity>
        <activity
            android:name=".Feelings_5"
            android:label="@string/title_activity_feelings_5" >
        </activity>
        <activity
            android:name=".Personal_Pronouns_Singular_1"
            android:label="@string/title_activity_personal__pronouns__singular_1" >
        </activity>
        <activity
            android:name=".Personal_Pronouns_Singular_2"
            android:label="@string/title_activity_personal__pronouns__singular_2" >
        </activity>
        <activity
            android:name=".Personal_Pronouns_Singular_3"
            android:label="@string/title_activity_personal__pronouns__singular_3" >
        </activity>
    </application>

</manifest>
